Solution/API.W/bin/
Solution/API.W/obj/
Solution/API/bin/
Solution/API/obj/
Solution/BS/bin/
Solution/BS/obj/
Solution/DAL.EF/bin/
Solution/DAL.EF/obj/
Solution/DAL.Repository/bin/
Solution/DAL.Repository/obj/
Solution/DAL/bin/
Solution/DAL/obj/
Solution/DO/bin/
Solution/DO/obj/
